{% extends 'base.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}

<div class="profile-container">

    <h1>My Profile</h1>

    <p>
    {% if user.profile.profile_picture %}
        <img src="{{ user.profile.profile_picture.url }}"
             alt="Profile Picture"
             style="
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 50%;
                border: 2px solid #ddd;
                ">
        {% endif %}
    </p>


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Save Profile
        </button>
    </form>

</div>

{% endblock %}